@import "tailwindcss";

@theme inline {
  --color-background: #ffffff;
  --color-foreground: #111111;
  --color-primary: #3b82f6;
  --color-secondary: #f59e0b;
  --color-accent: #ec4899;

  --color-chart-1: #3b82f6;
  --color-chart-2: #10b981;
  --color-chart-3: #f59e0b;
  --color-chart-4: #ef4444;
  --color-chart-5: #8b5cf6;

  --font-pretendard: "Pretendard", sans-serif;
  --font-kirang: "Kirang Haerang", cursive;
}

@font-face {
  font-family: "Pretendard";
  src: url("/fonts/Pretendard-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Kirang Haerang";
  src: url("/fonts/KirangHaerang-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@layer base {
  body {
    font-family: var(--font-pretendard);
    background-color: var(--color-background);
    color: var(--color-foreground);
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-kirang);
  }
}
